[Unit]
Description=Minecraft Bedrock Server logs, collected by AWS CloudWatch Logs Agent

[Service]
ExecStart=/root/start-logs-agent.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
